<h1><%= @user.username %> Scorecards</h1>

<h2>User id: <%= @user.id %></h2>
<ul>
    <% @user.scorecards.each do |card| %>
    <li>
        <%= link_to card.course, scorecard_path(card) %>
    </li>
    <% end %>
</ul>