<h1>Welcome to Sendy</h1>



<p>Sendy is a personal score tracker for disc golf. It allows you to keep track of your scores 
by making scorecards and filling out details such as: Course name, Date, Strokes, and overall Score.<p>

<p>You can also create disc golf bags and keep track of what discs are in each bag set-up.<p> 

<p>Please sign up to start using the app. Once logged in, your scorecards, bags, and discs will be saved in our database
where you can check on them over time and view your progression. Happy sending!<p>

