<h2>Discs in <%= @bag.name %></h2>

<ul>
    <% @discs.each do |disc| %>
        <li>
            <%= link_to disc.disc_name, user_bag_disc_path(current_user, @bag, disc) %>
        </li>
    <% end %>

</ul>

